@page "/"
<PageTitle>Index</PageTitle>

<div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">Hello World</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Play ECharts.js with Blazor. You can use the razor lib directly, or add your own charts.</p>
    </div>
</div>