@inherits Abstract.BaseChartComponent

<div @ref="container" style="width:@Width;height:@Height"></div>

@code {
    protected override async Task<IJSObjectReference> LoadChartOptions()
    {
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorECharts/linechart/basic-line-chart.js");
        return await module.InvokeAsync<IJSObjectReference>("getOption");
    }
} 