@page "/"
@using System.Text.Json
@using System.Dynamic

<PageTitle>Index</PageTitle>

<h1>Demo</h1>
<BlazorECharts.ChartContainer @ref="myChart" Option="option"></BlazorECharts.ChartContainer>
<button @onclick="Draw">Draw</button>

@code {
    private Dictionary<string, ExpandoObject>? option { get; set; } = new();

    private BlazorECharts.ChartContainer? myChart;

    private async Task Draw()
    {
        dynamic xAxis = new ExpandoObject();
        dynamic yAxis = new ExpandoObject();
        dynamic series = new ExpandoObject();

        xAxis.type = "category";
        xAxis.data = new string[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
        option!["xAxis"] = xAxis;

        yAxis.type = "value";
        option["yAxis"] = yAxis;

        series.data = new int[] { 150, 230, 224, 218, 135, 147, 260 };
        series.type = "line";
        series.areaStyle = new Dictionary<object, object>();
        option["series"] = series;

        await myChart!.Draw();
    }
}
